<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id='menu_library_root'
     web_icon='rg_library,static/description/lib.png'
     name='library'
     sequence="0"/>

    <menuitem id='menu_student'
     name='student'
     parent='menu_library_root'
     sequence="0">
       
     </menuitem>  

     <menuitem id='config'
     name='Configuration'
     parent='menu_library_root'
     sequence="12" />

     <menuitem id='cancel_book'
     name='CancelBook'
     parent='menu_student'
     action="action_cancel_is"
     sequence="12"/>
</odoo>